section.footer
  .footer-wrapper
    .footer-container
      a(href="index.html")
        img.footer-logo(src="../assets/images/logo.svg")

      a.insta(href="https://www.instagram.com/bobthesupercat/?hl=en" target="_blank")


      ul.footer-nav
        li.nav-item: a(href="bio.html") BIO 
        li.nav-item: a(href="gallery.html") GALLERY
        //li.nav-item: a(href="my-artwork.html") MY ARTWORK
        li.nav-item: a(href="contact.html") CONTACT
