section.footer
  .footer-wrapper
    .footer-container
      img.logo(src="../assets/images/logo.svg")

      a.insta(href="https://www.instagram.com/bobthesupercat/?hl=en" target="_blank")
        img.intsa-icon(src="../assets/images/insta-icon.svg")

      ul.footer-nav
        li.nav-item: a(href="#") BIO
        li.nav-item: a(href="#") GALLERY
        li.nav-item: a(href="#") MY ARTWORK
        li.nav-item: a(href="#") CONTACT
