section.header
  .header-wrapper
    .header-container
      img.logo(src="/assets/images/logo.svg")

      ul.desktop-nav
        li.nav-item: a(href="#") BIO
        li.nav-item: a(href="#") GALLERY
        li.nav-item: a(href="#") MY ARTWORK
        li.nav-item: a(href="#") CONTACT
