section.home
  .home-container
    .home-left
    .line
    .home-right
      .home-text
        h3 WELCOME TO MY SITE
        p.first Please, take a look around and get to know me.
        p.second Don't hesitate to contact me if you have any questions.
